{% extends 'base.html' %}
{% load static %}

{% block content %}
    <header class="header">
                <!--header-content-->
            <div class="container">
                <div class="header-row">
                    <div class="header-content">
                        <h1 class="header-heading">Получите необходимую вам <br> помощь уже сегодня</h1>
                        <p>Стоматология - это наша профессия,
                            но сервис - это наша страсть. Превратите неотложную стоматологическую помощь в облегчение</p>
                            <span class="span-header"><a href="#!" class="a-header-link">Заказать услугу</a></span>
                    </div>
                    <div class="header-img">
                        <img src="/static/img/1 2.png" alt="">
                    </div>
                </div>
            </div>
            <hr>

            <div class="container">
                <div class="header-sales">
                    <h1 class="h1-content">Скидки</h1>
                    <div class="sales-row">
                        <p>Целый месяц в клинике идет скидка 10% студентам</p>
                        <div class="sales-count">
                            <div class="sales-days">
                                <div class="sales-count-value" id="days">00</div>
                                <span clas="sales-count-text">days</span>
                            </div>
                            <div class="sales-hours">
                                <div class="sales-count-value" id="hours">00</div>
                                <span class="sales-count-text">hours</span>
                            </div>
                            <div class="sales-minutes">
                                <div class="sales-count-value" id="minutes">00</div>
                                <span class="sales-count-text">minutes</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <div class="container">
                <div class="header-doctor">
                    <h1 class="h1-content">Наши врачи</h1>
                    <div class="doctor-list">
                        <div class="doctor-item">
                            <img src="static/img/Screenshot_1.png" alt="">
                            <h2>Бекетбай Мирас</h2>
                            <p>Главный врач клиники, врач-ортодонт</p>
                        </div>
                        <div class="doctor-item">
                            <img src="static/img/Screenshot_1.png" alt="">
                            <h2>Ахметжанов Нұрлыхан</h2>
                            <p>Врач-терапевт, хирург</p>
                        </div>
                        <div class="doctor-item">
                            <img src="static/img/Screenshot_1.png" alt="">
                            <h2>Қалдарбеков Саят</h2>
                            <p>Врач-хирург</p>
                        </div>
                    </div>
                </div>
            </div>
            
    </header>


        <script src="/static/js/main.js" defer></script>
        <script src="https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&lang=ru_RU"></script>

{% endblock %}