{% extends 'base.html' %}
{% load static %}

{% block content %}
    
<header class="header">
    <div class="container">
        <div class="service-list1">
            {% for service in services %}
            <div class="service-item">
                <a href="/services/{{ service.id }}">
                    <img src='{{ service.img.url }}' alt="Plomba">
                    <h2 class="service-item__name">{{ service.name }}</h2>
                    <p class="service-item__price">{{ service.price }} </p>
                </a>
            </div>
            {% endfor %}
        </div>        
    </div>
</header>

{% endblock %}

{% load static %}