{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/service.css">
<div class="container">
    <div class="post-content">
        <div class="book-img-content">
                <div class="book-img"><img src="{{ service.img.url }}"> </div>
        </div>
        <div class="info-content">
                <div class="bookname">
                    <br><h2>{{ service.name }}</h2>
                </div>
                <div class="info">
                    Цена: {{ service.price }}тг
                </div>
        </div>
    </div>
        <div class="description"><p>{{ service.description|linebreaks }} </div>
            <select name="doctor" id="doctorSelect">
                <option selected disabled>
                    Выберите врача
                </option>
                {% for doctor in doctors %}
                    <option value="{{ doctor.id }}">{{doctor.first_name}} {{doctor.last_name}}</option>
                {% endfor %}
            </select>
            <select name="schedules" id="schedulesSelect">
                
            </select>
            
            <span class=""><button type="submit">Записаться</button></span>
</div>
<script src="/static/js/schedule.js"></script>

{% endblock %}

