{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/service.css">
<link rel="stylesheet" type="text/css" href="/static/css/main.css">
<div class="container">
    <div class="serviceInfoContent">
        <div class="serviceImgContent">
                <div class="serviceImg"><img src="{{ service.img.url }}"></div>
        </div>
        <div class="serviceInfo">
                <div class="serviceName">
                    <br><h2>{{ service.name }}</h2>
                </div>
                <div class="servicePrice">
                    Цена: {{ service.price }}тг
                </div>
                <div class="serviceDescription"><p>{{ service.description|linebreaks }}</p></div>
        </div>
    </div>
    <div class="formContent">
        <select name="schedules" id="schedulesSelect"></select>
        <span class="orderSumbit"><a href="/order/{{ service_id }}" type="submit">Записаться</button></span>
    </div>
</div>

<script src="/static/js/schedule.js"></script>

{% endblock %}

