<hr>
<div class="container">
    <div class="footer-list" id="section4">
        <div class="footer-list-value">
            <h2>Обслуживание клиентов</h2>
            <a href="#" class="footer-list-text">Часто задаваемые вопросы</a>
            <a href="#" class="footer-list-text">Правила и условия акции</a>
        </div>
        <div class="footer-list-value">
            <a href="#">Связаться с нами</a>
            <a href="#">Войти в систему</a>
            <a href="#">Местоположение клиники</a>
            <div class="map" id="map-test"></div>
        </div>
        <div class="footer-list-value">
            <h2>Оставаться на связи</h2>
            <p>Предоставляя свой адрес электронной почты, вы соглашаетесь получать сообщения от The Glimmer Inc.  (это может быть изменено в любое время). Пожалуйста, ознакомьтесь с нашей Политикой конфиденциальности и Условиями использования для получения более подробной информации.</p>
            <div class="footer-list-icon">
                <a href="https://www.facebook.com/stomak.karaganda?mibextid=LQQJ4d"><img src="static/img/facebook-icon.png" alt=""></a>
                <a href="https://instagram.com/smile_studio_krg?igshid=YTQwZjQ0NmI0OA=="><img src="static/img/instagram-icon.png" alt=""></a>
                <a href="https://youtube.com/@OrthoLike?si=xbAuBKfBWwJKk21H"><img src="static/img/youtube-icon.png" alt=""></a>
                <a href="https://www.tiktok.com/@batyr_dental?_t=8h3MfjhEBnR&_r=1"><img src="static/img/tiktok-icon.png" alt=""></a>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/main.js" defer></script>
<script src="https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&lang=ru_RU"></script>