.serviceInfoContent {
    display: flex;
    flex-direction: row;
    text-align:inherit;
    align-items: center;
    margin-bottom: 20px;
    color: #000;
    font-size: 20px;
}

.serviceImg {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

.serviceName {
    text-transform: uppercase;
    font-size: 30px;
}

.servicePrice {
    margin: 20px 0;
    font-size: 30px;
}

.serviceImgContent {
    margin: 20px;
}

.formContent {
    text-align: end;
    margin-bottom: 30px;
    font-size: 20px;
}

.orderSumbit {
    border-radius: 35px;
    border: 1.50px rgba(0, 0, 0, 0.90) solid;
    padding: 10px;
}