.container{
    max-width: 1230px;
}

.book-img-content{
    margin:20px;
}

.book-img{
    width:250px;
}

.info-content{
    font-weight:100px;
}

.bookname{
     font-size:20px;
    margin-bottom:20px;
}

.info{
    font-size:20px;
    margin-bottom:15px;
}
.description{
    margin-left:20px;
     margin-right:40px;

}
.post_btn{
    margin: 10px 40px 40px 20px;
    display: inline-block;
    font-size: 20px;
    color:white;
    background:#664229;
    cursor: pointer;
    padding: 10px;
    text-align: right;
}
.container{
    max-width:1200px ;
}
.post_btn:hover{
    letter-spacing: .2rem;
    color: black;
}
.post-content{
    display:grid;
    grid-template-columns: 0.7fr 2fr;
}