{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title> {{ title }}</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/reset.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <!--Header nav-->
            <div class="header-nav">
                <a href="{% url 'about_us' %}" class="logo"><img src="/static/img/icon.PNG" alt=""></a>
                
                <nav class="nav-list">
                    <ul class="nav-list">
                        {% comment %} {% for m in menu %}
                            <li class="nav-item"><a href="{% url m.url_name %}" class="nav-link">{{ m.title }}</a></li>
                        {% endfor %} {% endcomment %}
                        <li class="nav-item"><a href="{% url 'about_us' %}" class="nav-item-link">Про нас</a></li>
                        <li class="nav-item"><a href="{% url 'about_us' %}" class="nav-item-link">Наши врачи</a></li>
                        <li class="nav-item"><a href="{% url 'services' %}" class="nav-item-link">Услуги</a></li>
                        <li class="nav-item"><a href="{% url 'about_us' %}" class="nav-item-link">Контакты</a></li>
                    
                        <li class="nav-item">
                            {% if request.user.is_authenticated %}
                            Salem {{ request.user.first_name }}
                                <a href="/account/logout" class="nav-link">Выйти</a>
                            {% else %}
                                <a href="{% url 'login' %}" class="nav-link">Войти</a>
                            {% endif %}
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <hr>

    </header>
{% block content %}
{% endblock %}
{% include "partials/footer.html" %}

</body>
</html>